# Flower sales data Modelling and Analysis
Aims:
1. User Portrait
2. User life cycle value

## 1. Data Overview

In [1]:
# Import packages

## Basic data processing
import numpy as np
import pandas as pd

## Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

## Settings
pd.set_option('display.max_columns', 500) # Able to display more columns.

### 1.1. Load data

In [7]:
# Load the dataset
data_df = pd.read_csv("xianhua_data.csv", header=1)
data_df.info() # show entries, dtypes, memory usage.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87180 entries, 0 to 87179
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   orderID      87180 non-null  object
 1   productCode  87180 non-null  object
 2   dateTime     87180 non-null  object
 3   amount       87180 non-null  int64
 4   unitPrice    87180 non-null  float64
 5   userID       87180 non-null  int64
 6   city         87180 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.7+ MB

In [10]:
# Have a look
data_df.head(5)

  orderID productCode       dateTime  amount  unitPrice  userID      city
0  536374       21258  6/1/2020 9:09      32      10.95   15100   Beijing
1  536376       22114  6/1/2020 9:32      48       3.45   15291  Shanghai
2  536376       21733  6/1/2020 9:32      64       2.55   15291  Shanghai
3  536378       22386  6/1/2020 9:37      10       1.95   14688   Beijing
4  536378      85099C  6/1/2020 9:37      10       1.95   14688   Beijing

### 1.2. Data Type